.chat_container {
    padding-bottom: 50px;
    width: 533px;
}

#chat-wrapper {
    margin: 0 auto;
    background: #EBF4FB;
    width: 504px;
    border: 1px solid #ACD8F0;
    padding: 9px 14px;
    padding-bottom: 20px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid white;
    height: 270px;
    width: 280px;
    /*border:1px solid #ACD8F0;*/
    overflow-y: scroll;
    float: left;
}

#usermsg {
    width: 370px;
    border: 1px solid #ACD8F0;
    margin-left: 35px;
    margin-right: 8px;
    float: left;
}

#submit {
    width: 60px;
}

.error {
    color: #ff0000;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.welcome {
    float: left;
}

.msgln {
    margin: 0 0 2px 0;
}

#room_chat_otSessionId, #user_username {
    width: 260px;
    max-width: 260px;
    /*float: left;*/
}

.select-room-container {
    float: left;
}

.chat_content_page {
    margin-left: 20%;
}

#clients-list {
    text-align: left;
    margin-right: 5px;
    margin-bottom: 25px;
    padding: 10px;
    /*background:#fff;*/
    height: 270px;
    width: 150px;
    /*border:1px solid #ACD8F0;*/
    overflow-y: scroll;
    float: left;
}

#clients-list a {
    font-size: 12px;
}

.users_chat .chatbox {
    width: 90%;
    float: none;
}

#submitmsg {

}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.online {
    background: url("../images/circle_green_2015.png") 10px no-repeat !important;
}

.status-indicator {
    background: url("../images/circle_grey_5933.png") 10px no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    float: left;
}