html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

#footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 50px;
    width: 100%;
}

#footer .navbar, #footer ul {
    margin-bottom: 0;
}

#footer ul {
    margin-top: 14px;
}

.pagination {
    margin-top: 0;
}

[type='radio'], [type='checkbox'] {
    vertical-align: top;
}
