{% extends 'base.html.twig' %}

{% block title %}Welcome to Sibers OpenTok Demo!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/bundles/sibersopentok/css/layout.css" media="screen" type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Irish+Grover" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <section id="container">
        <header id="header">
            <div class="container">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Rooms</a>
                        <a class="navbar-brand" href="{{ path('userschat') }}">Find User & Chat!</a>
                    </div>

                    <div class="navbar-collapse collapse">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <ul class="nav navbar-nav">
                            </ul>
                            <form class="navbar-form navbar-right" action="{{ path('fos_user_security_logout') }}"
                                  method="get" role="form">
                                <div class="form-group">
                                    <label>Logged In As {{ app.user.username }}</label>
                                    <button class="btn btn-link" type="submit" type="submit" id="_submit"
                                            name="_submit"><i class="glyphicon glyphicon-log-out"></i> logout
                                    </button>
                                </div>
                            </form>
                        {% else %}
                            <form class="navbar-form navbar-right" action="{{ path("fos_user_security_check") }}"
                                  method="post" role="form">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}"/>

                                <div class="form-group">
                                    <input type="text" placeholder="username" id="username" name="_username"
                                           required="required" class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <input type="password" placeholder="password" class="form-control" id="password"
                                           name="_password" required="required"/>
                                </div>

                                <div class="checkbox">
                                    <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me"
                                                                    value="on"/> remember me</label>
                                </div>

                                <input type="submit" id="_submit" name="_submit" value="Login" class="btn btn-success"/>

                                <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">New
                                    User</a>
                            </form>
                        {% endif %}

                    </div>
                    <!--/.navbar-collapse -->
                </div>
            </div>
        </header>

        <section id="flashbag">
            <div class="container">
                {% block messages %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type=='error' ? 'danger' : type }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            </div>
        </section>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="navbar navbar-default">
                    <ul class="list-inline">
                        <li>
                            powered by
                            <a href="http://www.symfony.com/">
                                <img src="{{ asset('bundles/sibersopentok/images/symfony_black_02.png') }}"
                                     alt="symfony2 framework"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </section>
{% endblock body %}