{% extends 'SibersOpenTokBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/bundles/sibersopentok/css/chat.css" media="screen" type='text/css'>
{% endblock %}
{#{{ asset("/bundles/sibersopentok/css/chat.css") }}#}

{% block javascripts %}
    {{ parent() }}

    <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
    <script src="/js/config.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/app_userschat.js"></script>
    <script src="/js/worker_userschat.js"></script>
    <script>userId = {{ app.user.id }}</script>
    <script>userName = "{{ app.user.username }}"</script>
{% endblock %}

{% block content %}
    <div class="users_chat chat_content_page">
        <h2>Find User & Chat!</h2>

        <div class="chat_container highlight">
            <div style="text-align: center; margin-bottom: 10px;">
                <div class="select-room-container">
                    {{ form_widget(form.username) }}
                </div>

                <div class="status-indicator"></div>

                <a class="btn btn-success" id="start_chat" href="Javascript: void(0);">Start Chat!</a>
                <a class="btn btn-danger" id="stop_chat" href="Javascript: void(0);">Leave Chat!</a>
            </div>

            <div id="chat-wrapper">
                <div id="menu">
                    <p id="welcome" class="welcome"></p>

                    <p class="logout"><a id="exit" href="#"></a></p>

                    <div style="clear:both"></div>
                </div>

                <div id="chatbox" class="chatbox"></div>

                <input name="usermsg" type="text" id="usermsg" size="63" class="form-control"/>
                <input name="submitmsg" type="submit" id="submitmsg" class="btn btn-default btn-sm" value="Send"/>
            </div>
        </div>

    </div>
{% endblock %}