<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" type='text/css'>
        <link rel="stylesheet" href="/css/jquery-ui.min.css" media="screen" type='text/css'>
        {% block stylesheets %}{% endblock %}

        <script src="/js/jquery-2.1.3.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
