{% extends "SibersOpenTokBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block messages %}
    {{ parent() }}
    <div class="alert alert-success">
        {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
    </div>
{% endblock %}