{% extends "SibersOpenTokBundle::layout.html.twig" %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% for field in form.children %}
    {% form_theme field 'bootstrap_3_horizontal_layout.html.twig' %}

    {% for _field in field.children %}
        {% form_theme _field 'bootstrap_3_horizontal_layout.html.twig' %}
    {% endfor %}
{% endfor %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}New User .:. SibersOpenTok{% endblock %}

{% block content %}
    <h2>New User</h2>
    <div class="col-lg-6 col-md-6 col-sm-6">
        {{ form_start(form, {'action': path('fos_user_registration_register')}) }}
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">{{ 'registration.submit'|trans }}</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
