{% extends "SibersOpenTokBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block messages %}
    {{ parent() }}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% else %}
        <div class="alert alert-warning">
            You must login to view this page!
        </div>
    {% endif %}
{% endblock %}